{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_css %}{% endblock %}
{% block content %}
{% include 'layout/header.html' %}
{% load active_link_tags %}
    <!--Banner Start-->
    <div class="banner py-0">
        <!-- START home 2 REVOLUTION SLIDER 6.3.2 -->
        <p class="rs-p-wp-fix"></p>
        <rs-module-wrap id="rev_slider_15_1_wrapper" data-alias="slider-1" data-source="gallery"
            style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
            <rs-module id="rev_slider_15_1" data-version="6.3.2">
                <rs-slides>
                    <rs-slide data-key="rs-43" data-title="Slide" data-thumb="rev/assets/banner-1-1-50x100.jpg"
                        data-anim="ei:d;eo:d;s:d;r:default;t:crossfade;sl:d;">
                        <img src="{% static 'assets/rev/assets/331000539_935518177605812_8407632586406166714_n.jpg' %}" title="banner-1-1.jpg" width="1920"
                            height="1080" data-panzoom="d:10000ms;e:power0.in;ss:120%;se:100%;bs:0px;os:0px/0;"
                            class="rev-slidebg" data-no-retina>
                        <!--
							-->
                        <h5 id="slider-15-slide-43-layer-1" class="rs-layer" data-type="text" data-rsp_ch="on"
                            data-xy="x:c;xo:-2px,-1px,0,0;y:m;yo:0,0,0,-10px;"
                            data-text="w:normal;s:120,94,71,43;l:128,100,75,46;ls:20px,15px,11px,6px;fw:600;a:center;"
                            data-frame_0="y:50,39,29,17;" data-frame_1="st:1000;sp:1000;" data-frame_999="o:0;st:w;"
                            style="z-index:10;font-family:Jost;">LABORATOIRE<br>
                            DE FABRICATION 
                        </h5><!--

							--><a id="slider-15-slide-43-layer-2" class="rs-layer rev-btn" href="{% url 'apropos' %}" target="_self"
                            data-type="button" data-rsp_ch="on"
                            data-xy="x:c;xo:-90px,-90px,-75px,-58px;y:m;yo:200px,160px,121px,74px;"
                            data-text="w:normal;s:16,16,16,14;l:32,32,24,22;" data-dim="minh:0px,none,none,none;"
                            data-padding="t:12,12,9,6;r:45,45,34,21;b:12,12,9,6;l:45,45,34,21;"
                            data-border="bor:5px,5px,5px,5px;" data-frame_0="y:50,39,29,17;"
                            data-frame_1="st:1000;sp:1000;" data-frame_999="o:0;st:w;"
                            data-frame_hover="c:#222;bgc:#fff;bor:5px,5px,5px,5px;bri:120%;"
                            style="z-index:11;background-color:#fd4a18;font-family:Jost;">Savoir Plus 
                        </a><!--

							--><a id="slider-15-slide-43-layer-3" class="rs-layer rev-btn" href="{% url 'contact' %}" target="_self"
                            data-type="button" data-color="#222222" data-rsp_ch="on"
                            data-xy="x:c;xo:100px,106px,94px,72px;y:m;yo:200px,160px,121px,74px;"
                            data-text="w:normal;s:16,16,16,14;l:32,32,24,22;" data-dim="minh:0px,none,none,none;"
                            data-padding="t:12,12,9,6;r:45,45,34,21;b:12,12,9,6;l:45,45,34,21;"
                            data-border="bor:5px,5px,5px,5px;" data-frame_0="y:50,39,29,17;"
                            data-frame_1="st:1000;sp:1000;" data-frame_999="o:0;st:w;"
                            data-frame_hover="c:#fff;bgc:#fd4a18;bor:5px,5px,5px,5px;sp:100;e:power1.inOut;bri:120%;"
                            style="z-index:12;background-color:#ffffff;font-family:Jost;">Nous Contacter

                        </a><!--

							--><rs-layer id="slider-15-slide-43-layer-7" data-type="text" data-color="#fd4a18" data-rsp_ch="on"
                            data-xy="x:c;y:m;yo:-160px,-126px,-95px,-80px;"
                            data-text="w:normal;s:18,18,16,16;l:26,26,24,24;ls:3px,2px,1px,0px;fw:600;"
                            data-frame_0="y:50,39,29,17;" data-frame_1="st:1000;sp:1000;" data-frame_999="o:0;st:w;"
                            style="z-index:13;font-family:Jost;"># GRANDE  EXPERIENCE EN INFORMATIQUE
                        </rs-layer><!--
-->
                    </rs-slide>
                    <rs-slide data-key="rs-44" data-title="Slide" data-thumb="rev/assets/banner-2-1-50x100.jpg"
                        data-anim="ei:d;eo:d;s:d;r:default;t:crossfade;sl:d;">
                        <img src="{% static 'assets/rev/assets/331321185_555318589881770_8484293986516634994_n.jpg' %}" title="banner-2-1.jpg" width="1920"
                            height="1080" data-panzoom="d:10000ms;e:power0.in;ss:120%;se:100%;bs:0px;os:0px/0;"
                            class="rev-slidebg" data-no-retina>
                        <!--
							-->
                        <h5 id="slider-15-slide-44-layer-1" class="rs-layer" data-type="text" data-rsp_ch="on"
                            data-xy="x:c;xo:-2px,-1px,0,0;y:m;yo:0,0,0,-10px;"
                            data-text="w:normal;s:120,94,71,43;l:128,100,75,46;ls:20px,15px,11px,6px;fw:600;a:center;"
                            data-frame_0="y:50,39,29,17;" data-frame_1="st:1000;sp:1000;" data-frame_999="o:0;st:w;"
                            style="z-index:10;font-family:Jost;">INNOVATION<br>
                            TECHNOLOGIES
                        </h5><!--

							--><a id="slider-15-slide-44-layer-2" class="rs-layer rev-btn" href="{% url 'apropos' %}" target="_self"
                            data-type="button" data-rsp_ch="on"
                            data-xy="x:c;xo:-100px,-90px,-74px,-66px;y:m;yo:200px,160px,121px,74px;"
                            data-text="w:normal;s:16;l:32,32,24,24;" data-dim="minh:0px,none,none,none;"
                            data-padding="t:12,12,9,6;r:45,45,34,21;b:12,12,9,6;l:45,45,34,21;"
                            data-border="bor:5px,5px,5px,5px;" data-frame_0="y:50,39,29,17;"
                            data-frame_1="st:1000;sp:1000;" data-frame_999="o:0;st:w;"
                            data-frame_hover="c:#222;bgc:#fff;bor:5px,5px,5px,5px;bri:120%;"
                            style="z-index:11;background-color:#fd4a18;font-family:Jost;">Savoir Plus
                        </a><!--

							--><a id="slider-15-slide-44-layer-3" class="rs-layer rev-btn" href="{% url 'contact' %}" target="_self"
                            data-type="button" data-color="#222222" data-rsp_ch="on"
                            data-xy="x:c;xo:100px,106px,96px,72px;y:m;yo:200px,160px,121px,74px;"
                            data-text="w:normal;s:16;l:32,32,24,24;" data-dim="minh:0px,none,none,none;"
                            data-padding="t:12,12,9,6;r:45,45,34,21;b:12,12,9,6;l:45,45,34,21;"
                            data-border="bor:5px,5px,5px,5px;" data-frame_0="y:50,39,29,17;"
                            data-frame_1="st:1000;sp:1000;" data-frame_999="o:0;st:w;"
                            data-frame_hover="c:#fff;bgc:#fd4a18;bor:5px,5px,5px,5px;sp:100;e:power1.inOut;bri:120%;"
                            style="z-index:12;background-color:#ffffff;font-family:Jost;">Nous contacter
                        </a><!--

							--><rs-layer id="slider-15-slide-44-layer-7" data-type="text" data-color="#fd4a18" data-rsp_ch="on"
                            data-xy="x:c;xo:0,0,1px,0;y:m;yo:-160px,-126px,-100px,-80px;"
                            data-text="w:normal;s:18,18,16,16;l:26,26,24,24;ls:3px,2px,1px,0px;fw:600;"
                            data-frame_0="y:50,39,29,17;" data-frame_1="st:1000;sp:1000;" data-frame_999="o:0;st:w;"
                            style="z-index:13;font-family:Jost;"># INFORMATIQUE & ELECTRONINQUE
                        </rs-layer><!--
-->
                    </rs-slide>
                </rs-slides>
                <rs-static-layers><!--
					--></rs-static-layers>
            </rs-module>
        </rs-module-wrap>
        <!-- END REVOLUTION SLIDER -->
    </div>
    <!--Banner End-->

    <!--Solution Start-->
    <section class="pq-bg-grey pq-bg-img-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="pq-section pq-style-1 text-left">
                        <span class="pq-section-sub-title"># NOUS AVONS PLUS QUE DES SOLUTIONS INFORMATIQUES.</span>
                        <h5 class="pq-section-title" id="apprendre" data-high_text="Apprendre"
                            data-title_text=""
                            data-rough_color="#fd4a18" data-rough_type="underline">Un lieu ouvert à tous pour apprendre, collaborer et produire</h5>
                        <p class="pq-section-description">FABLAB DE NDJAMENA est un laboratoire de fabrication numérique accessible à tout le monde. Venez nous rendre visite durant nos heures d’ouverture pour découvrir les lieux et les activités..</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mt-4 mt-md-0">
                            <div class="pq-fancy-box pq-fancybox-8">
                                <div class="pq-fancy-media">
                                    <div class="pq-fancy-icon">
                                        <i class="flaticon-call-center"></i>
                                    </div>
                                    <div class="pq-fancy-box-meta">
                                        <span class="pq-fancy-box-subtitle">Explore Nos Machines</span>
                                        <h4 class="pq-fancybox-title">Nos Machines</h4>
                                    </div>
                                </div>
                                <p class="pq-fancy-box-info"> Pour découper,graver,créer des objets 3d en plastique,tester des circuitsscier, percer, coller, assemble du bois ou du plastique  ..</p>
                                <div class="pq-btn-container">
                                    <div class="pq-button-block">
                                        <a href="{% url 'machine' %}" class="pq-button pq-btn-link">
                                            <span class="pq-button-text">Savoir Plus</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="pq-fancy-box pq-fancybox-8">
                                <div class="pq-fancy-media">
                                    <div class="pq-fancy-icon">
                                        <i class="flaticon-marketing"></i>
                                    </div>
                                    <div class="pq-fancy-box-meta">
                                        <span class="pq-fancy-box-subtitle">Explore Nos Formations</span>
                                        <h4 class="pq-fancybox-title">Nos Formations</h4>
                                    </div>
                                </div>
                                <p class="pq-fancy-box-info"> Apprendre comment fonctionne une imprimantes 3d ce qu'est Arduino , les logiciels utilisables, les règles à respecter  ..</p>
                                <div class="pq-btn-container">
                                    <div class="pq-button-block">
                                        <a href="{% url 'training' %}" class="pq-button pq-btn-link">
                                            <span class="pq-button-text">Savoir Plus</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mt-4 mt-xl-0">
                    <div class="pq-list-box">
                        <h5 class="pq-section-title pq-text-white" id="FABLAB" data-high_text="FABLAB"
                            data-title_text="1er FABLAB au Tchad" data-rough_color="#fd4a18"
                            data-rough_type="underline">1er FABLAB au Tchad</h5>
                        <ul class="pq-list-check">
                            <li class="pq-list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i></a>
                                <span class="pq-text-white">Conseil en informatique</span>
                            </li>
                            <li class="pq-list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i></a>
                                <span class="pq-text-white">Modelisation 2D</span>
                            </li>
                            <li class="pq-list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i></a>
                                <span class="pq-text-white">Modelisation 3D</span>
                            </li>
                            <li class="pq-list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i></a>
                                <span class="pq-text-white">Fabriquation</span>
                            </li>
                            <li class="pq-list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i></a>
                                <span class="pq-text-white">Apprendretissage</span>
                            </li>
                            <li class="pq-list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i></a>
                                <span class="pq-text-white">Devollopement Mobil & web</span>
                            </li>
                            <li class="pq-list-item">
                                <a href="#"><i class="ion ion-android-done-all"></i></a>
                                <span class="pq-text-white">Entreprendre</span>
                            </li>
                        </ul>
                    </div>
                    <div class="experience">
                        <h5 class="pq-experience-title">
                            <a href="{% url 'apropos' %}" class="pq-text-white">+9 Ans D'experiences</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Solution End-->

    <!--Create Start-->
    <!-- <section class="create">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <img src="{% static 'assets/images/create/1.jpg' %}" class="pq-image11" alt="">
                    <img src="{% static 'assets/images/create/2.jpg' %}" class="pq-image12" alt="">
                    <div class="floating-counter pq-bg-primary">
                        <div class="pq-counter pq-style-1">
                            <div class="pq-counter-contain">
                                <div class="pq-counter-info">
                                    <div class="pq-counter-num-prefix">
                                        <h5 class="timer" data-to="150" data-speed="2000">150</h5>
                                        <span class="pq-counter-prefix">+</span>
                                    </div>
                                    <p class="pq-counter-description pq-text-white">Projects Complete</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 mt-4 mt-xl-0">
                    <div class="pq-section pq-style-1 text-left">
                        <span class="pq-section-sub-title"># creative our it technology</span>
                        <h5 class="pq-section-title" id="agency" data-high_text="Agency"
                            data-title_text="We Offer High Quality IT Agency Services" data-rough_color="#fd4a18"
                            data-rough_type="underline">We Offer High Quality IT Agency Services</h5>
                        <p class="pq-section-description">There are many variations of passages of Lorem Ipsum
                            available, but majority have suffered alteration in some form, by injected humour variations
                            of the suffered alteration in some form</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="pq-fancy-box pq-fancybox-5">
                                <div class="pq-fancy-media">
                                    <i class="flaticon-design"></i>
                                    <h5 class="pq-fancy-box-title">IT Management</h5>
                                </div>
                                <div class="pq-fancybox-info">
                                    <p>Lorem Ipsum has been the industry’s text ever since the when.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-4 mt-md-0">
                            <div class="pq-fancy-box pq-fancybox-5">
                                <div class="pq-fancy-media">
                                    <i class="flaticon-data-analytics"></i>
                                    <h5 class="pq-fancy-box-title">IT consultancy</h5>
                                </div>
                                <div class="pq-fancybox-info">
                                    <p>Lorem Ipsum has been the industry’s text ever since the when.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ceo d-flex align-items-center mt-4 mt-md-0">
                        <div class="pq-image-box pq-style-2">
                            <div class="pq-image-box-image">
                                <img src="{% static 'assets/images/about-us/7.jpg' %}" alt="">
                            </div>
                            <div class="pq-image-box-description">
                                <h5 class="pq-image-box-title"><a href="#">Jhon doerr</a></h5>
                                <p class="pq-image-box-description pq-text-primary mb-0">CEO OF PEACEFUL THEME</p>
                            </div>
                        </div>
                        <a href="about-us.html" class="pq-button pq-btn-flat pq-ml-30">
                            <div class="pq-button-block">
                                <span class="pq-button-text">Read More</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--Create End-->

    <!--Growth Start-->
    <section class="pq-bg-dark pq-bg-img-2 pq-pb-220">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pq-section pq-style-1 text-center">
                        <span class="pq-section-sub-title"># Notre activité en croissance</span>
                        <h5 class="pq-section-title pq-text-white" id="company" data-high_text="Company"
                            data-title_text="Intelligence And Collaboration IT Company Service."
                            data-rough_color="#fd4a18" data-rough_type="underline">Pour concrétiser vos projets</h5>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="pq-icon-box pq-style-6">
                        <div class="pq-icon-box-icon">
                            <span class="pq-icon">
                                <i class="flaticon-ux-design"></i>
                            </span>
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Entreprendre</h4>
                            <p class="pq-icon-box-description">Le FABLAB offre un programme d’adhésion et d’accompagnement spécifiques pour les professionnels. Il aide les entreprises à concevoir, prototyper et réaliser leurs projets innovants.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-md-0">
                    <div class="pq-icon-box pq-style-6">
                        <div class="pq-icon-box-icon">
                            <span class="pq-icon">
                                <i class="flaticon-laptop"></i>
                            </span>
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Fabriquer</h4>
                            <p class="pq-icon-box-description">Au sein du Lab vous trouverez des équipements et outils de qualité professionnelle (imprimante 3D, découpe laser, brodeuse numérique… ). Le principe du fablab c’est de faire soi-même (DIY) et s’entraider.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-xl-0">
                    <div class="pq-icon-box pq-style-6">
                        <div class="pq-icon-box-icon">
                            <span class="pq-icon">
                                <i class="flaticon-computer"></i>
                            </span>
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Apprendre</h4>
                            <p class="pq-icon-box-description">LE FABLAB propose des ateliers d’initiation pour rendre autonomes les « makers » dans la réalisation de leurs projets. Ils sont obligatoires pour pouvoir utiliser en solo les machines à disposition.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 mt-4 mt-xl-0">
                    <div class="pq-icon-box pq-style-6">
                        <div class="pq-icon-box-icon">
                            <span class="pq-icon">
                                <i class="flaticon-monitor-screen"></i>
                            </span>
                        </div>
                        <div class="pq-icon-box-content">
                            <h4 class="pq-icon-box-title">Partager</h4>
                            <p class="pq-icon-box-description">Dans son local FABLAB  met à disposition des espaces de travail où les membres viennent collaborer ensemble sur des projets en partageant leurs compétences et leurs savoirs dans la bonne humeur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Growth End-->

    

    
    
	
	<!--Testimonial Start-->
		<section class="pq-bg-dark pq-bg-img-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="pq-section pq-style-1 text-center">
							<span class="pq-section-sub-title pq-text-white"># NOTRE TÉMOIGNAGE</span>
							<h5 class="pq-section-title pq-text-white" id="solution" data-high_text="Solutions."
								data-title_text="Clinets Happy Our IT Solutions." data-rough_color="#fd4a18"
								data-rough_type="underline">ils sont safisfait de nous.</h5>
						</div>
					</div>
                    
					<div class="pq-testimonial pq-owl-testimonial-2">
						<div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="2"
							data-lap_num="2" data-tab_num="1" data-mob_num="1" data-mob_sm="1" data-autoplay="true"
							data-loop="true" data-margin="30">
                            {% for post in testimonials %}
							<div class="item">
                                
								<div class="pq-testimonial-box pq-owl-testimonial-style-2">
									<div class="pq-testmonial-media">
										<img src="{{post.image.url }}"
											alt="testimonial-image">
										<div class="pq-testimonial-info">
											<h5>{{post.first_name}}</h5>
											<span>{{post.profession}}</span>
										</div>
									</div>
									<div class="pq-testimonial-meta">
										<div class="pq-testimonial-content">
											<p>{{post.comment|safe|truncatechars:200}}.</p>
										</div>
										<!-- <div class="pq-testimonial-star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div> -->
										<div class="pq-quote">
											<i class="fa fa-quote-right" aria-hidden="true"></i>
										</div>
									</div>
								</div>
                               
							</div>
                            {% endfor %}					
						</div>
					</div>
                    
				</div>
			</div>
		</section>
		<!--Testimonial End-->
	
		<!--Business Start-->
		<!-- <section class="pq-bg-grey pq-bg-img-1 pq-pb-220 exclusive">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-6 col-lg-6">
						<div class="pq-section pq-style-1 text-left">
							<span class="pq-section-sub-title"># business event value</span>
							<h5 class="pq-section-title" id="startup" data-high_text="Business"
								data-title_text="How We Work For Your Business And Startup" data-rough_color="#fd4a18"
								data-rough_type="underline">How We Work For Your Business And Startup</h5>
							<p class="pq-section-description">There are many variations of passages of Lorem Ipsum
								available, but the majority have suffered alteration in some form, by injected humour, or
								words which don’t look even slightly believable If you going to used Lorem Ipsum,</p>
						</div>
						<a href="home-modern.html" class="pq-button pq-btn-flat">
							<div class="pq-button-block">
								<span class="pq-button-text">Read More</span>
							</div>
						</a>
					</div>
					<div class="col-xl-6 col-lg-6 mt-4 mt-lg-0">
						<div class="pq-progressbar-box pq-progressbar-style-1 ">
							<div class="pq-progressbar-content">
								<span class="progress-title">Managed It Services</span>
								<span class="progress-value pq-text-primary">85% </span>
								<div class="pq-progress-bar">
									<span data-width="85" class="show-progress"></span>
								</div>
							</div>
							<div class="pq-progressbar-content">
								<span class="progress-title">It Support &amp; helpdesk</span>
								<span class="progress-value pq-text-primary">92% </span>
								<div class="pq-progress-bar">
									<span data-width="92" class="show-progress"></span>
								</div>
							</div>
							<div class="pq-progressbar-content">
								<span class="progress-title">We Have an It Department</span>
								<span class="progress-value pq-text-primary">80% </span>
								<div class="pq-progress-bar">
									<span data-width="80" class="show-progress"></span>
								</div>
							</div>
							<div class="pq-progressbar-content">
								<span class="progress-title">Augmented Reality</span>
								<span class="progress-value pq-text-primary">85%</span>
								<div class="pq-progress-bar">
									<span data-width="85" class="show-progress"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		<!--Business End-->
	
		<!--Counter Start-->
		<!-- ><section class="counter pt-0 pb-0">
			<div class="container pq-bg-primary rounded">
				<div class="row text-center pq-counter-60">
					<div class="col-lg-3 col-md-6">
						<div class="pq-counter pq-style-1">
							<div class="pq-counter-contain">
								<div class="pq-counter-info">
									<div class="pq-counter-num-prefix">
										<h5 class="timer" data-to="80" data-speed="2000">80</h5>
										<span class="pq-counter-prefix">+</span>
									</div>
									<p class="pq-counter-description pq-text-white">Account Number</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-md-0">
						<div class="pq-counter pq-style-1">
							<div class="pq-counter-contain">
								<div class="pq-counter-info">
									<div class="pq-counter-num-prefix">
										<h5 class="timer" data-to="128" data-speed="2000">128</h5>
										<span class="pq-counter-prefix">+</span>
									</div>
									<p class="pq-counter-description pq-text-white">Happy Customers</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mt-xl-0 mt-4 mt-lg-0">
						<div class="pq-counter pq-style-1">
							<div class="pq-counter-contain">
								<div class="pq-counter-info">
									<div class="pq-counter-num-prefix">
										<h5 class="timer" data-to="350" data-speed="2000">350</h5>
										<span class="pq-counter-prefix">+</span>
									</div>
									<p class="pq-counter-description pq-text-white">Finished Projects</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 mt-xl-0 mt-4 mt-lg-0">
						<div class="pq-counter pq-style-1">
							<div class="pq-counter-contain">
								<div class="pq-counter-info">
									<div class="pq-counter-num-prefix">
										<h5 class="timer" data-to="130" data-speed="2000">130</h5>
										<span class="pq-counter-prefix">+</span>
									</div>
									<p class="pq-counter-description pq-text-white">Win Awards</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section -->
		<!--Counter End-->
	
        <!--Blog Start-->
        <section class="blog">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="pq-section pq-style-1 text-center">
                        <span class="pq-section-sub-title"># Nos dernières actualités</span>
                        <h5 class="pq-section-title" id="blog" data-high_text="Blog" data-title_text="Latest Blog Posts"
                            data-rough_color="#fd4a18" data-rough_type="underline">Derniers Articles de Blog</h5>
                    </div>
                </div>
                
                <div class="col-lg-12">
                    <div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="3"
                        data-lap_num="2" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="true"
                        data-loop="true" data-margin="30">
                        
                        {%for post in blogs %}
                        <div class="item">
                            
                            <div class="pq-blog-post">
                                <div class="pq-post-media">
                                    <img src="{{ post.image.url }}" alt="{{post.name|title}}" style="width: 100%; height: 230px;">
                                    <div class="pq-post-date">
                                        <a href="#"><span>{{ post.timestamp|date:"d M Y" }}</span></a>
                                    </div>
                                </div>
                                <div class="pq-blog-contain">
                                    <div class="pq-post-meta">
                                        <ul>
                                            <li class="pq-post-author"><i class="fa fa-user"></i>admin</li>
                                            <li class="pq-post-meta"><a
                                                    href="#"><i
                                                        class="fa fa-calendar"></i>{{ post.timestamp|date:"d M Y" }}</a>
                                            </li>
                                            <li class="pq-post-tag">
                                                <a href="{% url 'blog'  %}"><i
                                                        class="fa fa-tag"></i>categories :<a href= > {{ post.category }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <h5 class="pq-blog-title"><a
                                            href="{% url 'blog_detail' post.slug %}">{{post.name|title}}</a></h5>
                                    <a href="{% url 'blog_detail' post.slug %}"
                                        class="pq-button pq-btn-flat pq-mt-30">
                                        <div class="pq-button-block">
                                            <span class="pq-button-text">Lire la suite</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                           
                        </div>
                        {% endfor %}
                       
                    </div>
                    
                
                </div>
                <div class="pq-btn-container mt-3" style="text-align: center;">
                    <a href="{% url 'blog' %}" class="pq-button">
                        <div class="pq-button-block" >
                            <span class="pq-button-text">Voir PLus</span>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
        </section>
        <!--Blog End-->
	
{% endblock %}

{% block extra_javascript %}{% endblock %}