{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block extra_css %}{% endblock %}
{% block content %}
{% include 'layout/header-2.html' %}


   
<!--Breadcrumb Start-->

<div class="pq-breadcrumb pq-bg-dark pq-bg-img-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <div class="pq-breadcrumb-title">
                        <h1>
                            Nos Machines</h1>
                    </div>
                    <div class="pq-breadcrumb-container">
                        <ol class="breadcrumb align-items-center">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home me-2"></i>Acceuil</a>
                            </li>
                            <li class="breadcrumb-item active">Nos Machines & Equipements</li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--Breadcrumb End-->

    <!--Software Start-->
    <section class="all-services">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <div class="pq-widget">
                        <div class="pq-widget pq-widget-port p-0">
                            <div class="menu-service-menu-container">
                                <ul id="menu-service-menu" class="menu">
                                    <li class="current-menu-item">
                                        <a href="{% url 'machine2D' %}" aria-current="page">Machine 2D</a>
                                    </li>

                                    <li>
                                        <a href="{% url 'machine3D' %}" aria-current="page">Machine 3D</a>
                                    </li>

                                    <li>
                                        <a href="{% url 'machinecoudre' %}" aria-current="page">Machine a Coudre </a>
                                    </li>

                                    <li>
                                        <a href="{% url 'outils' %}" aria-current="page">Outils de Travails</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 mt-4 mt-lg-0">
                    <img src="{% static 'assets/images/about-us/1.png' %}" alt="">
                    <h2 class="pq-heading mt-4">In Fact, They Can Be Incredibly Powerful.</h2>
                    <p class="pq-description">There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form, by injected humour, or randomised words which
                        don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need
                        to be sure there isn’t anything of text.</p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="pq-fancy-box pq-fancybox-1">
                                <div class="pq-fancy-media">
                                    <i class="flaticon-analytics"></i>
                                </div>
                                <div class="pq-fancybox-info">
                                    <h5 class="pq-fancy-box-title">Web Devlopment</h5>
                                    <p>There are many variaons of passages Lorem Ipsum available, but majority have
                                        suffered alteration in…</p>
                                    <a class="pq-button pq-btn-link" href="web-development.html">
                                        <span class="text">Read More</span>
                                    </a>
                                </div>
                            </div>
                            <div class="pq-fancy-box pq-fancybox-1 pq-mt-30 mb-4">
                                <div class="pq-fancy-media">
                                    <i class="flaticon-globe"></i>
                                </div>
                                <div class="pq-fancybox-info">
                                    <h5 class="pq-fancy-box-title">Software Development</h5>
                                    <p>There are many variaons of passages Lorem Ipsum available, but majority have
                                        suffered alteration in…</p>
                                    <a class="pq-button pq-btn-link" href="software-development.html">
                                        <span class="text">Read More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 mt-4 mt-md-0">
                            <div class="pq-fancy-box pq-fancybox-1 pq-ml-30">
                                <div class="pq-fancy-media">
                                    <i class="flaticon-front"></i>
                                </div>
                                <div class="pq-fancybox-info">
                                    <h5 class="pq-fancy-box-title">Mobile Development</h5>
                                    <p>There are many variaons of passages Lorem Ipsum available, but majority have
                                        suffered alteration in…</p>
                                    <a class="pq-button pq-btn-link" href="mobile-development.html">
                                        <span class="text">Read More</span>
                                    </a>
                                </div>
                            </div>
                            <div class="pq-fancy-box pq-fancybox-1 pq-mt-30 pq-ml-30 mb-4">
                                <div class="pq-fancy-media">
                                    <i class=" flaticon-computer"></i>
                                </div>
                                <div class="pq-fancybox-info">
                                    <h5 class="pq-fancy-box-title">App Development</h5>
                                    <p>There are many variaons of passages Lorem Ipsum available, but majority have
                                        suffered alteration in…</p>
                                    <a class="pq-button pq-btn-link" href="app-development.html">
                                        <span class="text">Read More</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 align-items-center border-0">
                        <div class="col-lg-6">
                            <img src="{% static 'assets/images/about-us/2.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6">
                            <h2 class="pq-about-title mt-4 mt-lg-0"><a href="about-us.html">The Best Investment You Can Yourself.</a>
                            </h2>
                            <p class="pq-description mb-0">There are many variations of passages of Lorem Ipsum
                                available majority have suffered alteration</p>
                            <ul class="pq-list-check">
                                <li class="list-item">
                                    <a href="#"><i class="ion ion-android-done-all"></i><span>Vestibulum eget arcu in
                                            est placerat laoreet.</span></a>
                                </li>
                                <li class="list-item">
                                    <a href="#"><i class="ion ion-android-done-all"></i><span>Etiam placerat urna vel
                                            tincidunt malesuada.</span></a>
                                </li>
                                <li class="list-item">
                                    <a href="#"><i class="ion ion-android-done-all"></i><span>Cras tristique lacus at
                                            gravida vulputate.</span></a>
                                </li>
                                <li class="list-item">
                                    <a href="#"><i class="ion ion-android-done-all"></i><span>Fusce consectetur purus ac
                                            aliquam aliquet.</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row border-0 pq-my-45 g-0">
                        <div class="col-lg-12">
                            <iframe class="pq-video"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                title="YouTube video player"
                                src="https://www.youtube.com/embed/XHOmBV4js_E?controls=1&amp;rel=0&amp;playsinline=0&amp;modestbranding=0&amp;autoplay=0&amp;widget_referrer=https%3A%2F%2Fmedicate.peacefulqode.com%2Fhome-3%2F&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fmedicate.peacefulqode.com&amp;widgetid=1"
                                id="widget2"></iframe>
                        </div>
                    </div>
                    <h2 class="pq-about-title"><a href="about-us.html">The Product Versus Solution Distinction
                            Extends.</a></h2>
                    <p class="pq-description">There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form, by injected humour, or randomised words which
                        don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need
                        to be sure there isn’t anything of text.</p>
                </div>
            </div>
        </div>
    </section>
<!--Software End-->

{% endblock %}

{% block extra_javascript %}{% endblock %}
   