{% load static %}

    <!--Footer Start-->
    <footer id="pq-footer" class="style-1">
        <div class="pq-footer-style-1">
            <div class="pq-footer-top">
                <!-- footer top list  -->
                <div class="pq-footer-bottom-list">
                    <div class="container">
                        <div class="row g-0">
                            <div class="col-lg-4 p-0">
                                <div class="pq-footer-items">
                                    <i class="ti-location-pin"></i>
                                    <div class="pq-footer-items-info">
                                        <h4>Address</h4>
                                        <span>Avenue Maldom Bada Abbas, Immeuble BSIC 2eme Etage</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 p-0">
                                <div class="pq-footer-items">
                                    <i class="ti-mobile"></i>
                                    <div class="pq-footer-items-info">
                                        <h4>appelez-nous au</h4>
                                        <a href="tel:+23563614479">
                                            <span>+235 63 61 44 79 </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 p-0">
                                <div class="pq-footer-items border-0">
                                    <i class="ti-email"></i>
                                    <div class="pq-footer-items-info">
                                        <h4>Email</h4>
                                        <a
                                            href="#"><span><span
                                                    class="__cf_email__"
                                                    data-cfemail="">contact@wenaklabs.org</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer top list -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-md-4">
                            <div class="widget">
                                <img src="{% static 'assets/images/logos/fablab.png' %}" class="pq-footer-logo"
                                    alt="gym-footer-logo">
                                <P>Atelier de fabrication numérique, qui fonctionne sur le modèle Open-space</P>
                                <div class="pq-footer-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-github"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                   
                        <div class="col-xl-4  col-md-4">
                            <div class="widget">
                                <h4 class="footer-title"> Liens</h4>
                                <div class="menu-useful-link-container">
                                    <ul id="menu-usefull-link" class="menu">
                                        <li>
                                            <a href="{% url 'home' %}">Aceuill</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'apropos' %}">A Propos</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'machine' %}">Nos Machines</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'training' %}">Nos Formation</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'blog' %}">Nos Blogs</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4  col-md-4">
                            <div class="pq-widget-menu widget">
                                <h4 class="footer-title">Contact</h4>
                                <ul id="menu-usefull-link" class="menu">
                                    <li>
                                        <spam>
                                        Avenue Maldom Bada Abbas, Immeuble BSIC 2eme Etage N'Djamena - Tchad</spam> 
                                    
                                    </li>
                                    <li>
                                        Tel: +23563614479
                                    </li>
                                    <li>
                                        Email: contact@wenaklabs.org
                                    </li>
                                       
                                </ul>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pq-copyright-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <span class="pq-copyright"><a target="_blank" href="#"> Copyright 2023 All Rights
                                    Reserved.</a></span>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer End-->