{% load static %}
{% load active_link_tags %}


<!--Header Start-->
<header id="pq-header" class="pq-header-style-1 pq-has-sticky">
    <div class="pq-top-header">
        <div class="container-fluid">
        </div>
    </div>
    <div class="pq-bottom-header pq-has-sticky">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="/">
                            <img class="{% static 'assets/img-fluid logo' %}"
                                src="{% static 'assets/images/logos/fablab.png' %}" alt="techtrix">
                        </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div id="pq-menu-contain" class="pq-menu-contain">
                                <ul id="pq-main-menu" class="navbar-nav ml-auto">
                                    <li class="menu-item">
                                        <a href="{% url 'home' %}">Acceuil</a>
                                    </li>
                                    <li class="menu-item {% active_link 'apropos' css_class='current-menu-item' %}">
                                        <a href="{% url 'apropos' %}">A Propos</a>
                                    </li>
                                    <li class="menu-item {% active_link 'machine' css_class='current-menu-item' %}">
                                        <a href="{% url 'machine' %}">Machines</a>
                                         
                                    </li>
                                    <li class="menu-item {% active_link 'training' css_class='current-menu-item' %}">
                                        <a href="{% url 'training' %}">Formations</a>
                                       
                                    </li>
                                   
                                    <li class="menu-item {% active_link 'blog' css_class='current-menu-item' %}">
                                        
                                        <a href="{% url 'blog' %}">Blog</a>
                                       
                                    </li>
                                    <li class="menu-item {% active_link 'contact' css_class='current-menu-item' %}">
                                        <a href="{% url 'contact' %}">Contact</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>

                        <div class="pq-header-info-box">
                            <div class="pq-header-call">
                                <a href="tel:+180045647824">
                                    <i class="ion-ios-telephone"></i>
                                    <div class="pq-call-info">
                                        <h5>+235 63 61 44 79</h5>
                                        <span>appelez-nous</span>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End-->