{% load static %}
{% load active_link_tags %}

<!--Header Start-->
<header id="pq-header" class="pq-header-default">
    <div class="pq-top-header">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-md-6 text-right">
                    <div class="pq-header-social text-right">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-github"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pq-header-contact ">
                        <ul>
                            <li>
                                <a href="tel:+23563614479"><i class="fas fa-phone-flip"></i><span>+235 63 61 44 79</span></a>
                            </li>
                            <li>
                                <a href="https://.com/cdn-cgi/l/email-protection#9feffafefcfaf9eaf3eef0fbfadff8f2fef6f3b1fcf0f2"><i class="fas fa-envelope"></i><span><span class="__cf_email__" data-cfemail="">contact@wenaklabs.org</span></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pq-bottom-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <img class="img-fluid logo" src="{% static 'assets/images/logos/fablab.png' %}" alt="">
                        </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div id="pq-menu-contain" class="pq-menu-contain">
                                <ul id="pq-main-menu" class="navbar-nav ml-auto">
                                    <li class="menu-item">
                                        <a href="{% url 'home' %}">Acceuil </a>
                                   </li>

                                    <li class="menu-item {% active_link 'apropos' css_class='current-menu-item' %}">
                                         <a href="{% url 'apropos' %}">A Propos </a>
                                    </li>
                                  
                                    <li class="menu-item {% active_link 'machine' css_class='current-menu-item' %} ">
                                        <a href="{% url 'machine' %}">Nos Machines</a>
                                        
                                    </li>
                                    <li class="menu-item {% active_link 'training' css_class='current-menu-item' %}" >
                                        <a href="{% url 'training' %}">Nos Formations</a>
                                        
                                    </li>
                                            <li class="menu-item {% active_link 'blog' css_class='current-menu-item' %}">
                                                <a href="{% url 'blog' %}">Blogs</a>
                                            </li>
                                      
                                            <li class="menu-item {% active_link 'contact' css_class='current-menu-item' %}">
                                                 <a href="{% url 'contact' %}">Contact </a>
                                            </li>
                                            
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pq-menu-search-block">
                            <a href="javascript:void(0)" id="pq-seacrh-btn"><i class="fa fa-search"></i></a>
                            <div class="pq-search-form">

                                <form role="search" method="get" class="search-form" action="https://peacefulqode.com/themes/techtrix/html/main-home.html">
                                    <label>
                                        <span class="screen-reader-text">Search for:</span>
                                        <input type="search" class="search-field" placeholder="Search …" value=""
                                            name="s">
                                    </label>
                                    <button type="submit" class="search-submit">
                                        <span class="screen-reader-text">Search</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                       
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header End-->